@import '_variables.scss';
@import 'color-palette.scss';
@import 'fonts.scss';

body {
  margin: 0;
  padding: 0;
  background-color: color(background);
  font-family: 'Source Sans Pro', sans-serif;
}